In [1]:
import pandas as pd
import numpy as np

In [10]:
ratingData = pd.read_csv("../weekend1/movieData/ratings.dat",sep = "::",names = ['UserID','MovieID','Rating','Timestamp'])
ratingData.Timestamp = pd.to_datetime(ratingData.Timestamp, unit="s")

In [11]:
ratingData.head()

   UserID  MovieID  Rating           Timestamp
0       1     1193       5 2000-12-31 22:12:40
1       1      661       3 2000-12-31 22:35:09
2       1      914       3 2000-12-31 22:32:48
3       1     3408       4 2000-12-31 22:04:35
4       1     2355       5 2001-01-06 23:38:11

In [7]:
ratingData.Timestamp

0         2000-12-31 22:12:40
1         2000-12-31 22:35:09
2         2000-12-31 22:32:48
3         2000-12-31 22:04:35
4         2001-01-06 23:38:11
5         2000-12-31 22:37:48
6         2000-12-31 22:33:59
7         2000-12-31 22:11:59
8         2000-12-31 22:37:48
9         2000-12-31 22:22:48
10        2001-01-06 23:37:48
11        2000-12-31 22:29:12
12        2000-12-31 22:38:01
13        2000-12-31 22:35:24
14        2000-12-31 22:29:13
15        2000-12-31 22:36:28
16        2001-01-06 23:37:48
17        2000-12-31 22:29:37
18        2000-12-31 22:28:33
19        2000-12-31 22:33:59
20        2000-12-31 22:36:45
21        2000-12-31 22:12:40
22        2000-12-31 22:00:55
23        2001-01-06 23:36:35
24        2000-12-31 22:01:43
25        2001-01-06 23:39:11
26        2000-12-31 22:32:33
27        2000-12-31 22:00:55
28        2001-01-06 23:35:39
29        2001-01-06 23:37:48
                  ...
1000179   2000-04-25 23:16:24
1000180   2000-04-26 02:17:35
1000181   2000-04-25 23:22:52
1000182   2000-05-07 16:41:18
1000183   2000-06-14 08:34:14
1000184   2000-04-26 02:19:29
1000185   2000-04-26 02:33:58
1000186   2000-04-25 23:10:19
1000187   2000-04-26 02:31:34
1000188   2000-07-28 23:58:54
1000189   2000-05-07 16:26:35
1000190   2000-04-26 02:28:33
1000191   2000-07-28 23:59:42
1000192   2000-04-25 23:06:17
1000193   2000-04-26 02:14:48
1000194   2000-07-28 23:59:59
1000195   2000-04-26 02:20:48
1000196   2000-04-25 23:19:06
1000197   2000-04-26 02:14:48
1000198   2000-04-26 02:32:54
1000199   2000-04-26 02:30:07
1000200   2000-04-25 23:15:19
1000201   2000-05-07 16:35:22
1000202   2000-04-25 23:23:16
1000203   2000-04-26 02:18:38
1000204   2000-04-26 02:35:41
1000205   2000-04-25 23:21:27
1000206   2000-04-25 23:19:06
1000207   2000-04-26 02:20:48
1000208   2000-04-26 02:19:29
Name: Timestamp, dtype: datetime64[ns]